@media (min-width: 1200px) {

    input[type="text"] {
        width: 10vw;
        height: 2vh;
    }

    th, td {
        padding: 10px;
    }

    td {
        word-break: break-all;
    }

    #th-len-32 {
        width: 330px;
    }

    #th-len-6 {
        width: 50px;
    }
}

@media (max-width: 1200px) {

    input {
        font-size: 0.8em;
    }

    input[type="text"] {
        width: 20vw;
        height: 1.5vh;
    }


    

    th, td {
        height: 20px;
    }
    #th-len-32 {
        width: 130px;
    }

    #th-len-6 {
        width: 30px;
    }
}

#lib-form, #library-container {
    border: 2px solid #0891b2;
    border-radius: 4px;
    padding: 10px;
    background-color: #94a3b8;
}

body {
    margin: 0;
    background-color: #cbd5e1;
    font-family: "Fira Sans", sans-serif;
    font-size: clamp(5px, 2vw, 14px);
}


#main {
    display: grid;
    padding-top: 20px;
    justify-content: center;
    gap: 5vw;
}

input, th, td, input:checked {
    background-color: #fafafa;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#flex-item-radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

input {
    margin-top: 0.5vh;
    border: 1px solid #334155;
}

input[type="radio"] {
    place-self: center;
}

.radio-row {
    display: block;
}

#title, #author, #num-of-pages {
    display: block;
}

#library-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#error-msg {
    color: red;
    font-size: 0.9em;
    width: 10vw;
    text-align: center;
}

table {
    border-spacing: 0;
    margin-left: 30px;
    border-collapse: collapse;

}

#submit {
    background-color: #f7fee7;
    border-color: #f7fee7;
    font-weight: 600;
}

input[type="radio"] {
    margin: 0;
}

#delete-row:hover {
    background-color: #b91c1c;
}

table, th, td {
    border: 1px solid #334155;
}


table {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;   
}

th {

    text-align: left;
    font-size: min(16px, 1em);
}


td {
    text-align: left;
}